version: 2
jobs:
  build:
    docker:
      - image: cirrusci/flutter
    steps:
      - checkout
      - run: flutter doctor
      - run: 
          name: Install Nokogiri
          command: cd ./android && bundle config build.nokogiri --use-system-libraries
      - run:
          name: Install missing gems
          command: cd ./android && bundle install
      - run:
          name: Run fastlane test
          command: cd ./android/fastlane && bundle exec fastlane test
      

workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: feat/setup-landing-page